{% extends "base.html" %}
{% block content %}
    <h1 class="title">{{ section.title }}</h1>
    <ul class="entry-list">
        <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
        {% for page in paginator.pages %}
            <li>
                <a href="{{ page.permalink | safe }}"
                   rel="bookmark"
                   title="{{ page.title }}">{{ page.title }}</a>
                <time datetime="{{ page.date }}"
                      title="{{ page.date | date(format='%Y년 %m월 %d일') }}">
                    {{ page.date | date(format="%Y-%m-%d") }}
                </time>
            </li>
        {% endfor %}
    </ul>
    <nav class="pagination">
        {% if paginator.previous %}
            <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
        {% endif %}

        {{paginator.current_index}}

        {% if paginator.next %}
            <a class="next" href="{{ paginator.next }}">Next ›</a>
        {% endif %}
    </nav>
{% endblock content %}
