{% extends "base.html" %}
{% block content %}
    <h1 class="title">{{ section.title }}</h1>
    {% if paginator.pages | length == 0 %}
    	<p>아직 이 섹션에 페이지가 없습니다.</p>
    {% endif %}
    <ul class="entry-list">
        {% for page in paginator.pages %}
            <li>
                <a href="{{ page.permalink | safe }}"
                   rel="bookmark"
                   title="{{ page.title }}">{{ page.title }}</a>
                <time datetime="{{ page.date }}"
                      title="{{ page.date | date(format='%Y-%m-%d') }}">
                    {{ page.date | date(format="%Y-%m-%d") }}
                </time>
            </li>
        {% endfor %}
    </ul>
    <nav class="pagination">
        {% if paginator.previous %}
            <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
        {% endif %}

        {{paginator.current_index}}

        {% if paginator.next %}
            <a class="next" href="{{ paginator.next }}">Next ›</a>
        {% endif %}
    </nav>
{% endblock content %}
